In [1]:
data = [
    137.7,
    44.5, 
    41.7,
    29.0,
    15.5,
    14.6,
    9.5,
    8.5,
    6.9,
    6.2,
    5.7,
    4.1,
    3.4,
    3.3,
    2.5,
    1.1,
    0.4,
    0.3
    ]

In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(data)

In [8]:
df['composition'] = df[0] / sum(data)

In [9]:
df

        0  composition
0   137.7     0.411168
1    44.5     0.132875
2    41.7     0.124515
3    29.0     0.086593
4    15.5     0.046282
5    14.6     0.043595
6     9.5     0.028367
7     8.5     0.025381
8     6.9     0.020603
9     6.2     0.018513
10    5.7     0.017020
11    4.1     0.012242
12    3.4     0.010152
13    3.3     0.009854
14    2.5     0.007465
15    1.1     0.003285
16    0.4     0.001194
17    0.3     0.000896

In [10]:
0.411168 + 0.132875 + 0.124515

0.668558